.form-box {
    max-width: 400px;      
    margin: 2rem 0 2rem 2rem; 
    padding: 1rem;
    border: 1px solid;       
    border-radius: 5px;
}

.event-drop-down{
    max-width: 600px;
}

li::marker {
        font-size: 1.2em;
        content: "⭐ ";
    }


      #map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}