name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: lint, format, test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.9.6"
        enable-cache: true

    - name: Set up Python
      run: uv python install
        
    - name: Install dependencies
      run: uv sync --locked --all-extras --dev
        
    - name: Run tests
      run: make test
      
    - name: Check formatting
      run: make format.check
      
    - name: Run linter
      run: make lint
      
    - name: Type check
      run: make typecheck