{% extends 'layouts/layout.html' %}

{% block content %}
<form action="/trips" method="POST">
    <label>Name</label>
    <input type="text" name="title" required/>
    <label>Start date</label>
    <input type="date" name="start-date" required/>
    <label>End date</label>
    <input type="date" name="end-date" required/>

    <button role="submit">Create new trip</button>
</form>

<h2>My Trips</h2>
<ul>
    {% for trip in trips %}
        <li>
            <a href="{{ url_for('trip_details', trip_id=trip.id) }}">
                {{ trip.title }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}