{% extends 'layouts/layout.html' %}

{% block content %}


<form action="{{ url_for('trip_details', trip_id=trip.id) }}" method="POST">
    <label>Name</label>
    <input type="text" name="event-name" required/>
    <label>Event date</label>
    <input type="datetime-local" name="event-time" required/>
    <label>Address</label>
    <input type="text" name="address" required/>

    <button role="submit">Create new event</button>
</form>


<h1>{{trip.title}}</h1>
{% if events %}
    {% set seen = [] %}
    <ul>
      {% for ev in events %}
        {% set date_only = ev.event_time.date() %}
        {% if date_only not in seen %}
          {% set _ = seen.append(date_only) %}
          <details>
            <summary>{{ date_only.strftime('%B %-d, %Y') }}</summary>
            {% for e in events%}
              {% if e.event_time.date() == date_only %}
                <li>{{ e.event_name }} at {{e.event_time.strftime("%I:%M %p")}}</li>
              {% endif %}
            {%endfor%}
          </details>
        {% endif %}
      {% endfor %}
    </ul>
{% else %}
  <p>No events for this trip.</p>
{% endif %}
{% endblock %}